In [85]:
import pandas as pd
import numpy as np

In [86]:
loan_data = pd.read_csv("Loan_data.csv", low_memory=False)
loan_data.shape

(42536, 151)

In [87]:
loan_data.dropna(axis = 1, how = 'all', inplace = True)
loan_data.dropna(subset = ['loan_amnt'], inplace = True)

In [88]:
loan_data.shape

(42535, 69)

In [89]:
loan_data = loan_data[(loan_data.loan_status=='Charged Off')|
          (loan_data['loan_status']=='Fully Paid')]
loan_data.shape

(39786, 69)

In [90]:
threshold = 0.7
loan_data = loan_data[loan_data.columns[loan_data.isnull().mean() < threshold]]
loan_data.shape

(39786, 61)

In [92]:
loan_data = loan_data[loan_data.columns[loan_data.nunique() > 1]]
loan_data.shape

(39786, 48)

In [100]:
loan_data.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,last_fico_range_high,last_fico_range_low,pub_rec_bankruptcies,debt_settlement_flag
0,1077501,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,...,0.00,0.0,0.00,Jan-2015,171.62,Aug-2018,739.0,735.0,0.0,N
1,1077430,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,...,0.00,122.9,1.11,Apr-2013,119.66,Oct-2016,499.0,0.0,0.0,N
2,1077175,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,...,0.00,0.0,0.00,Jun-2014,649.91,Jun-2017,739.0,735.0,0.0,N
3,1076863,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,...,16.97,0.0,0.00,Jan-2015,357.48,Apr-2016,604.0,600.0,0.0,N
4,1075358,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,...,0.00,0.0,0.00,Jan-2017,67.30,Apr-2018,684.0,680.0,0.0,N

In [103]:
list(loan_data.columns)

['id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'pub_rec_bankruptcies',
 'debt_settlement_flag']

In [1]:
print('nowa linijka')

nowa linijka